$margin1: 10px;
$margin2: 15px;

@mixin margin-lr($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

body {
    @include margin-lr($margin1);
}

div {
    @include margin-lr($margin2);
}